body {
  margin: 0;
  font-family: "Roboto", "Arial" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(95, 50, 256), #800080);
  color: #6c3c00;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
